name: ci

on:
  push:

jobs:
  docker:
    runs-on: warp-ubuntu-latest-x64-2x
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Build and push
        uses: Warpbuilds/build-push-action@v6
        with:
          push: true
          tags: user/app:latest
          profile-name: super-fast-builder